body{
    margin: 0;
}

.about{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headercontentabout{
    max-width: 1240px;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divlandscape{
    width: 100%;
    border-radius: 25px;
    background: black;
    height: 223px;
    margin-bottom: 38px;

    &__img{
        width: 100%;
        height: 100%;
        border-radius: 25px;
        opacity: 0.8;
        object-fit: cover;
        object-position: center;
    }
}

.collapses{
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collapse__p{
    margin-left: 25px;
    margin-right: 25px;
}

@media screen and (max-width: 768px){

    
    .headercontentabout{
        max-width: 768px;
        padding: 0 20px;
    }
    
    .divlandscape{
        border-radius: 10px;

    
        &__img{
            border-radius: 10px;
        }
    }
    
    .collapses{
        width: 100%;
    }

    .collapse{
        width: 100%;
    }
    
}