.cards{
    width: 92%;
    border-radius: 25px;
    background: #F6F6F6;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 50px; 
    margin: 0 auto; 
    padding: 50px;
}

.card{
    width: 100%;
    height: 340px;
    position: relative;
    border-radius: 10px;

    &__img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        object-position: center;
    }

    &__title{
        color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 300px;
    margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .cards{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0;
        width: 100%;
        margin: 0;
    }

    .card{
        height: 255px;
    }
  }