.collapse {
    width: 80.89%;
    border-radius: 5px;
    background-color: #313094;
    color: white;
    margin-bottom: 30px;
    position: relative;
    margin-top: 30px;


    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &__title {
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        margin: 10px 0 10px 20px;
    }


    &__svg {
        fill: white;
        font-size: 32px;
        margin-right: 20px;

        &:hover {
            cursor: pointer;
        }

        &.rotated {
            transform: rotate(-180deg); 
            transition: transform 0.4s ease;
        }

        &.norotated {
            transform: rotate(0); 
            transition: transform 0.4s ease;
        }

    }

    &__content {
        overflow: hidden;
        color: #313094;
        background: #f6f6f6;
        width: 100%;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        display: block; /* Toujours visible, mais caché par max-height */
        max-height: 0;
        transition: max-height 0.4s ;

    
        &.visible {
            max-height: 250px; /* Utilisez une valeur suffisamment grande */
            transition: max-height 0.4s ;
            transform: scaleY(1);
        }
    }
    


    }

    @media screen and (max-width: 768px){
        .collapse {
        
            &__header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        
            &__title {
                font-size: 13px;
                margin: 10px 0 10px 10px;
            }
        
        
            &__svg {
                fill: white;
                font-size: 20px;
                margin-right: 10px;
        
                &:hover {
                    cursor: pointer;
                }
        
                &.rotated {
                    transform: rotate(-180deg); 
                    transition: transform 0.4s ease;
                }
        
                &.norotated {
                    transform: rotate(0); 
                    transition: transform 0.4s ease;
                }
        
            }
        
            &__content {
                font-size: 12px;
        
            }
            
        
        
            }
        
    }


