
.error{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.headercontenterror{
    max-width: 1240px;
    width: 86.1%;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;


    &__h2{
        color: #FF6060;
        text-align: center;
        font-family: Montserrat;
        font-size: 288px;
        font-style: normal;
        margin: 0;
        margin-top: -60px;
        margin-bottom: -60px;
        font-weight: 700;
    }

    &__h3{
        color: #FF6060;
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        margin: 0;
        font-weight: 500;
    }

    &__link{
        color: #FF6060;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        text-decoration-line: underline;
        margin-bottom: 139px;
    }
}

@media screen and (max-width: 768px){


    
    .headercontenterror{
        max-width: 768px;
        padding: 0 20px;
        gap: 60px;

    
    
        &__h2{
            font-size: 96px;
            margin-bottom: 15px;
            margin-top: 0;


        }
    
        &__h3{
            
            font-size: 18px;
            text-align: center;
            width: 68%;
            margin-bottom: 20px;
        }
    
        &__link{

            font-size: 14px;

        }
    }

}