

.home__banner__main{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

    .home__padding{
        max-width: 1240px; 
        padding-left: 100px;
        padding-right: 100px;
    }



.homeimgback{
    width: 100%;
    height: 223px;
    border-radius: 25px;
    background: #000;
    position: relative;
    margin-bottom: 45px;

}

.homeimg{
    opacity: 0.7;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
    object-position: center;

}

h1{
    color: #FFF;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 22%;
}

.home .footer{
    margin-top: 50px;
}

@media screen and (max-width: 768px) {

    h1{
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        left: 10%;
        top: 20%;
        width: 67%;
    }

    .home__padding{
        max-width: 768px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .homeimgback{
        height: 111px;
        border-radius: 10px;
        margin-bottom: 22px;
    }
    .homeimg{
        border-radius: 10px;
    }
}