.logement__title{
    height: 77px;
    flex-direction: column;
    margin-bottom: 20px;


    &__name{
        color: #313094;
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        margin: 0;
    }

    &__location{
        color: #313094;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    }
}

@media screen and (max-width: 768px){

    .logement__title{
        height: 70px;
        flex-direction: column;
    
    
        &__name{
            font-size: 18px;
        }
    
        &__location{
        font-size: 14px;
        }
    }
}