.tags{
    height: 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;


    &__tag{
        width: 115px;
        height: 100%;
        border-radius: 10px;
        background: #FF6060;
        display: flex;
        align-items: center;
        justify-content: center;


        &__p{
            color: #FFF;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            margin: 0;
        }
    }
}

@media screen and (max-width: 768px){
    .tags{
        height: 18px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-top: 10px;
        width: 75%;
    
    
        &__tag{
            width: 25%;
            height: 100%;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
    
    
            &__p{
                font-size: 10px;
            }
        }
    }
    
}