body{
    margin: 0;
}


.portfolio{
    margin: auto;
    max-width: 1240px;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px){

    .portfolio{
        padding: 0 10px;
    }
}
